.profile eol=lf
.bashrc eol=lf
.bashrc-ssh eol=lf
.alias* eol=lf
.gdb* eol=lf
.ssh-autoprompt.sh eol=lf
.git-completion.bash eol=lf
*.sh eol=lf
ssh-shell eol=lf
xlock eol=lf
.vimrc eol=lf
.vim/* eol=lf
.vim/*/* eol=lf
.vim/*/*/* eol=lf
*.vim eol=lf
bin/git-merge-ff eol=lf
bin/git-wtf eol=lf
bin/ahex2bin eol=lf
bin/bin2ahex eol=lf
bin/xterm-colortest eol=lf
bin/xterm_title eol=lf
bin/*.pl eol=lf
bin/*.rb eol=lf
